html, body {
    background-color: #212226;
    max-height: 100vh;
    text-align: center;

    margin: 0;
    padding: 0;

    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    padding-top: 45%;
}

.shopelement {
    background-color: #FFF;

    padding: 30px 40px;
    border-radius: 15px;
}

.main {
    width: calc(15em + 10vmin);
    height: calc(15em + 10vmin);

    border-radius: 15px;
    text-align: center;

    background-color: #223688;
}

.main h1 {
    padding-top: 45%;
    
    font-family: sans-serif;
    color: #FFF;
    font-size: calc(1.6em + 1vmin);
}

p {
    color: #000;
    font-size: calc(0.65em + 1vmin);
    font-family: sans-serif;
}